<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <title>차茶정해볼게요</title>
  
  <link rel="stylesheet" href="../static/contact.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif+KR:wght@500&display=swap"
    rel="stylesheet">

  <!-- 파비콘 -->
  <link rel="shortcut icon" type="image/x-icon" sizes="16x16"  href="../static/icon/favicon.ico">
  <link rel="icon" type="image/x-icon" sizes="16x16"  href="../static/icon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="차茶 | CHACHA"/>
    <meta property="og:description" content="차茶 | CONTACT US"/>
    <meta property="og:image" content="https://ifh.cc/g/2Dc0nl.png"/>

</head>

<body>
  <a href="./" class="card-closebtn"><div class="closebutton"></div></a>
  <div class='contact'>
    <div class="contact_title">
      <h1>CONTACT US</h1>
    </div>
    <div class="card-row">
      <div class="card-blank"></div>
      <div class="card-box-cover">
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/cKAFvR.jpg" alt="image" class="clip-circle"></div>
          <span>우재영</span><br>
          <p>팀장, 백엔드 개발자 #entj</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/GngyGD.jpg" alt="image" class="clip-circle"></div>
          <span>김무준</span><br>
          <p>백엔드 개발자 #isfp</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/ueYQLP.jpg" alt="image" class="clip-circle"></div>
          <span>박채원</span><br>
          <p>프론트엔드 개발자 #isfj</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/nEkYjl.jpg" alt="image" class="clip-circle"></div>
          <span>한보람</span><br>
          <p>프론트엔드 개발자 #isfj</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/IsPSkF.jpg" alt="image" class="clip-circle"></div>
          <span>안승신</span><br>
          <p>백엔드 개발자 #infp</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/Hx0JYT.jpg" alt="image" class="clip-circle"></div>
          <span>허영은</span><br>
          <p>백엔드 개발자 #isfp</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/57xMc4.jpg" alt="image" class="clip-circle"></div>
          <span>김유나</span><br>
          <p>프론트엔드 개발자 #isfp</P>
        </div>
        <div class="card-box">
          <div class="card-image"><img src="https://ifh.cc/g/o1igw0.jpg" alt="image" class="clip-circle"></div>
          <span>윤승환</span><br>
          <p>프론트엔드 개발자 #estj</P>
        </div> 
      </div>
      <div class="card-blank"></div>
    </div>
    <a href="https://github.com/Mu-jun/SpartaWebMaking" target='_blank'><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" width="40px"></a>
  </div>
</body>
</html>