<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 이름 -->
    <title>My info | Chacha</title>
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" href="../static/info.css">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Noto+Serif+KR:wght@500&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- slick -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--login js import -->
    <script src="../static/js/sign.js"></script>
</head>

<script>


    $(document).ready(async function () {
        $('.post-wrapper').slick({
            // 한번에 보여지는 카드 수
            slidesToShow: 4,
            // 한번에 넘길 카드 수
            slidesToScroll: 1,
            // 자동 재생
            autoplay: true,
            // 자동 넘기는 속도
            autoplaySpeed: 1500,
            // 버튼 안보이게
            nextArrow: $('.next'),
            prevArrow: $('.prev'),
        });
        await signStatus();
        if (isLogin) {
            //    로그인 된 사용자는 내정보페이지에 접근할때 별다른 이벤트가 필요 없음-> 유저 이름과 이메일을 페이지에 띄어주어야 함. 찜 리스트 보여주어야 함.
            let ID = await sign_getID();
            let nickName = await sign_getNickname();
            // console.log(ID)
            console.log(nickName)
            $("#userName").text(nickName);
            $("#userEmail").text(ID);
        } else {
            window.alert("로그인이 필요한 기능입니다.")
            window.location.replace("/")
        }
        await showScrap()

    });

    async function signStatus() {
        isLogin = await sign_checkSign();
        if (isLogin) signin_mode();
        else signout_mode();
    }

    function signin_mode() {
        isLogin = true;
    }

    function signout_mode() {
        isLogin = false;
        sign_signout();
    }

    async function signinout() {
        if (isLogin) {
            signout_mode();
        } else {
            let id = $('#signin_id').val();
            let pass = $('#signin_pass').val();

            let result = await sign_signin(id, pass)
            if (result) {
                if (result['success']) {
                    alert(result['success']);
                    window.location.replace('/');
                } else if (result['fail']) alert(result['fail'])
            } else alert('서버연결실패')
        }
    }


    async function showScrap() {
        let access_token = await get_access_token();
        $.ajax({
            type: "GET",
            url: "/tea/scrapList",
            data: {},
            headers: {"Authorization": "Bearer " + access_token},
            success: function (response) {
                if (response['scrapTeas']) {
                    let scrapTea = response['scrapTeas']
                    for (let i = 0; i < scrapTea.length; i++) {
                        let name = scrapTea[i]['name']
                        let img = scrapTea[i]['img']

                        let temp_html = `<div class="post">
                                              <img style="display: inline-block;"
                                                   src="${img}"
                                                   class="slider-image">
                                              <p>${name}</p>
                                          </div>`
                        $('.post-wrapper').slick('slickAdd', temp_html)
                    }
                }
            }
        })
    }

</script>


<body>
<!-- 왼쪽 -->
<div class="left_side">
    <div class="left_top">
        <a href="./index">차茶</a>
    </div>
    <div class="left_middle">
        <div class="big_Title">
            <!-- 페이지 용도에 맞춰서 수정 필요-->
            <p style="color:#C53709; text-align: left; padding-left: 20px;">My<br>Information</p>
        </div>
    </div>
    <div class="left_bottom">
    </div>
</div>
<!-- 오른쪽 -->
<div class="right_side">
    <div class="right_top">
        <ul class="manager_nav" id="right_nav">
            <li class="right_nav-item1">
                <a href="#"><span class="material-icons md-36">&#xE87C;</span></a>
            </li>
            <li class="right_nav-item2">
                <a href="/" onclick="signinout()">로그아웃</a>
            </li>
        </ul>
    </div>
    <div class="right_middle">

        <!-- 제목 부분 -->
        <div class="saveform-box">
            <div class="information_title">
                <p style="text-align: left;">My Information</p>
            </div>

            <div class="saveform">
                <div class='info1'>
                    <div class="insert_form">
                        <div class="insert_form_name">
                            <span class="insert_text">이름</span>
                        </div>
                        <!-- 사용자 이름 -->
                        <p class="insert_input" id="userName" style="color: #777; font-weight: lighter;"></p>
                    </div>
                    <div class="insert_form">
                        <div class="insert_form_name">
                            <!-- 사용자 이메일 -->
                            <span class="insert_text">이메일</span>
                        </div>
                        <p class="insert_input" id="userEmail" style="color: #777; font-weight: lighter;"></p>
                    </div>
                </div>
                <a href="/info_edit">
                    <button class="btn"><span style="font-size: 18px;">회원정보 수정</span></button>
                </a>

                <div class='info2'>
                    <div class="small_title" style="margin-bottom: 10px;">
                        <span>| </span>
                        <span style="font-size: 30px; font-weight: bold;">zzim</span> <span
                            style="font-size: 23px;">💘</span>
                        <a href="/zzim_list" class="zzim-button"><span style="font-size: 15px;">더보기</span></a>
                    </div>
                    <hr width="1017" color="#C53709;" size="2px">
                    <div style="position:relative;">
                        <!--page slider -->
                        <div class="post-slider">
                            <div class="post-wrapper">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right_bottom"></div>
</div>
</body>