<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 페이지 이름 -->
    <title>Info edit | Chacha</title>
    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/sign.js"></script>

    <link rel="stylesheet" href="../static/info_edit.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
            href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap"
            rel="stylesheet">
</head>


<script>
    //  signin&out
    let isLogin = false;

    $(document).ready(async function () {
        await signStatus();
        if (isLogin) {
            //  로그인 된 회원이 회원정보 수정 페이지를 들어왔을때 특별한 이벤트가 필요하지 않음.
        } else {
            //나중에 info창에서 내 정보 보기 접근을 금지하는게 더 좋은 방법..
            window.location.replace("/");
            window.alert("회원가입이 필요한 서비스입니다.")
        }
    });

    async function signStatus() {
        isLogin = await sign_checkSign();
        if (isLogin) signin_mode();
        else signout_mode();
    }

    function signin_mode() {
        isLogin = true;
    }

    function signout_mode() {
        isLogin = false;
        sign_signout();
    }

    async function signinout() {
        if (isLogin) {
            signout_mode();
        } else {
            let id = $('#signin_id').val();
            let pass = $('#signin_pass').val();

            let result = await sign_signin(id, pass)
            if (result) {
                if (result['success']) {
                    alert(result['success']);
                    window.location.replace('/');
                } else if (result['fail']) alert(result['fail'])
            } else alert('서버연결실패')
        }
    }


    function check_delete() {
        let pw = $("#user_pass").val();
        let check = $("input[name = leave]:checked").val();
        if (pw && check == "탈퇴") {
            $("#btn_leave").attr("disabled", false);
            $("#btn_leave").css("opacity", "100%");
        } else {
            $("#btn_leave").attr("disabled", true);
            $("#btn_leave").css("opacity", "50%");
        }
    }

    function check_yes_no() {
        let pw = $("#user_pass").val();
        if (pw) {
            $('input[name=leave]').attr("disabled", false);
        } else {
            $('input[name=leave]').attr("disabled", true);
        }
    }


    function check_pw() {
        var pw = $("[name = psw]").val();
        var check_pw = $("[name=psw_check]").val();
        var SC = ["!", "@", "#", "$", "%", "^", "&", "*"];
        var check = 0;
        for (var i = 0; i < SC.length; i++) {
            if (pw.indexOf(SC[i]) != -1) {
                check = 1;
                break;
            }
        }
        if (pw.length < 6 || pw.length > 17) {
            window.alert('비밀번호는 6글자 이상, 16글자 이하만 이용 가능합니다.');
            $(".sign-up").prop("disabled", true);

        } else if (check == 0) {
            window.alert('!,@,#,$,% 의 특수문자가 들어가 있지 않습니다.')
            $(".sign-up").prop("disabled", true);
        } else {
            $(".btn").prop("disabled", false);
        }
    }

    //  비밀번호변경
    let isPassiblePassword = false;

    function check_change_password() {
        isPassiblePassword = false;
        console.log('hi')
        let new_pass = $('#new_pass').val();
        let new_pass_check = $('#new_pass_check').val();

        if (new_pass === new_pass_check) {
            isPassiblePassword = true;
            $('#checkPasswordText').text('새로운 비밀번호 확인 완료')
            $("#btn_edit_pw").prop("disabled", false);
            $("#btn_edit_pw").css("opacity", "100%");


        } else {
            window.alert('새로운 비밀번호를 확인해주세요.')
            $("#btn_edit_pw").css("opacity", "50%");
            $("#btn_edit_pw").attr("disabled", true);
        }
    }

    async function test_change_pass() {
        if (isPassiblePassword) {
            let current_pass = $('#current_pass').val();
            let new_pass = $('#new_pass').val();

            let response = await sign_changePassword(current_pass, new_pass);

            if (response['success']) {
                alert(response['success']);
                signout_mode();
                window.location.reload();
            } else if (response['fail']) {
                alert(response['fail']);
            }
        } else {
            alert('새로운 비밀번호를 확인해 주세요.')
        }

    }

    //  회원탈퇴
    async function test_delete_user() {
        let password = $('#user_pass').val();
        console.log(password)

        let response = await sign_delete(password);
        console.log(response)

        if (response['success']) {
            alert(response['success']);
            signout_mode();
            window.location.replace('/')
        } else if (response['fail']) alert(response['fail']);
    }


</script>

<body>
<!-- 왼쪽 -->
<div class="left_side">
    <div class="left_top">
        <a href="./index"> 차茶 </a>
    </div>
    <div class="left_middle">
        <div class="big_Title">
            <!-- 페이지 용도에 맞춰서 수정 필요-->
            <p style="color:#C53709; text-align: left; padding-left:20px;">Account<br>Management</p>
        </div>
    </div>
    <div class="left_bottom">
    </div>
</div>
<!-- 오른쪽 -->
<div class="right_side">
    <div class="right_top">
        <ul class="manager_nav" id="right_nav">
            <li class="right_nav-item1">
                <a href="./info"><span class="material-icons md-36">&#xE87C;</span></a>
            </li>
            <li class="right_nav-item2">
                <a href="/" onclick="signinout()">로그아웃</a>
            </li>
        </ul>
    </div>
    <div class="right_middle">

        <!-- 제목 부분 -->
        <div class="saveform-box">
            <div class="information_title">
                <p style="text-align: left;">Account Management</p>
            </div>

            <div class="saveform">
                <div class='info1'>
                    <div class="small_title" style="margin-bottom: 20px;">
                        <span>| </span>
                        <span style="font-size: 25px; font-weight: bold;">비밀번호 변경</span>
                    </div>
                    <!-- 현재 비밀번호 -->
                    <div class="insert_form">
                        <div class="insert_form_name">
                            <span class="insert_text">현재 비밀번호</span>
                        </div>
                        <input class="insert_input" id="current_pass" type="password"/>
                    </div>
                    <!-- 새비밀번호 -->
                    <div class="insert_form">
                        <div class="insert_form_name">
                            <span class="insert_text">새 비밀번호</span>
                        </div>
                        <input name="psw" class="insert_input" id="new_pass" type="password" onchange="check_pw()"/>
                    </div>
                    <!-- 새 비밀번호 확인 -->
                    <div class="insert_form">
                        <div class="insert_form_name">
                            <span class="insert_text">새 비밀번호 확인</span>
                        </div>
                        <input name="psw_check" class="insert_input" id="new_pass_check" type="password"
                               onchange="check_change_password()"/>
                    </div>
                    <button type="button" class="btn" id="btn_edit_pw" onclick="test_change_pass();" disabled>저장
                    </button>
                </div>

                <div class='info2'>
                    <div class="small_title" style="margin-bottom: 20px;">
                        <span>| </span>
                        <span style="font-size: 25px; font-weight: bold;">회원탈퇴 </span>
                    </div>
                    <div class="insert_form">
                        <div class="insert_form_name">
                            <span class="insert_text">현재 비밀번호</span>
                        </div>
                        <input class="insert_input" id="user_pass" type="password" onchange="check_yes_no()"/>
                    </div>
                    <div id="form_mg_tea_benefit" class="insert_form">
                        <div class="insert_form_name_1">
                            <span class="insert_text">정말로 탈퇴하시겠어요?</span>
                        </div>
                        <div class="insert_input" id="insert_eff">
                            <input type="radio" name="leave" id="leave_1" value="탈퇴" onclick="check_delete()" disabled>
                            <label for="leave_1" style="margin-right: 34px"><span></span>예</label>
                            <input type="radio" name="leave" id="leave_0" value="탈퇴안함" onclick="check_delete()"
                                   disabled>
                            <label for="leave_0"><span></span>아니요</label>
                        </div>
                    </div>

                    <button type="button" class="btn" id="btn_leave" onclick="test_delete_user()" disabled>확인</button>

                </div>
            </div>
        </div>
    </div>
    <div class="right_bottom"></div>
</div>
</body>

</html>