<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Tea list | Chacha</title>
    <link rel="stylesheet" href="../static/tea_list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 이미지 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap"
            rel="stylesheet">
    <script src="https://kit.fontawesome.com/a73607bda8.js" crossorigin="anonymous"></script>
    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--  로그인 js 가져오기-->
    <script src="../static/js/sign.js"></script>

    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="차茶 | CHACHA"/>
    <meta property="og:description" content="차茶 | TEA LIST"/>
    <meta property="og:image" content="https://ifh.cc/g/2Dc0nl.png"/>


    <!-- 모달 js -->
    <script>
        let isLogin = false
        //페이지가 그려지면 실행되어야 할 함수.
        //local storag에서 추천으로 선택된 tea_list를 가져온다.
        //해시태그 가져오기

        $(document).ready(async function () {
            await signStatus();
            if (isLogin) {
                html = `<a class="navi nav_login" iclassNameginText" style= "margin-right: 40px;" href= "/tea_list" onclick="signinout()">로그아웃</a>`
                $('#umm').append(html)
            } else {
                html = `<a class="navi nav_login" iclassNameginText" style= "margin-right: 40px;" href= "/login" ">로그인</a>`
                $('#umm').append(html)
            }
            receiveTea = JSON.parse(localStorage.getItem("findlist"));
            let cnt = receiveTea.length;
            checkList = JSON.parse(localStorage.getItem("check_list"));
            if (checkList === null) {
                let tmp = `<p style="font-size: 32px;font-weight: bold;color:#0F3331">해당하는 차는 ${cnt}개입니다.</p>`
                $('.mytaste_hashtag').append(tmp);
            } else {
                for (let i = 0; i < checkList.length; i++) {
                    let name = checkList[i];
                    let temp = `<div class="mytaste_tag" color="#0F3331" border = "1px solid #0F3331" width = "100px" height ="36px" border-radius= "10px" font-size="18px" text-align="center" line-height="34px" margin="0px 5px 10px">#${name}</div>`
                    $('.mytaste_hashtag').append(temp);
                }
                let tmp = `<p style="font-size: 32px;font-weight: bold;color:#0F3331">해당하는 차는 ${cnt}개입니다.</p>`
                $('.mytaste_count').append(tmp);
            }
            //추천 티 리스트 뿌려주는 함수 실행하기
            showTea(receiveTea)
            // 모달 js  $(function () {
            $("img").click(function (element) {
                $('.background').empty();
                let src = element.target.getAttribute('class');
                console.log(src)
                let name = receiveTea[src]['name']
                let caffeine = receiveTea[src]['caffeine']
                let benefitdetail = receiveTea[src]['benefitdetail']
                let desc = receiveTea[src]['desc']
                let caution = receiveTea[src]['caution']
                let img = receiveTea[src]['img']
                let like = receiveTea[src]['like']
                let eng_type = receiveTea[src]['eng_type']

                let temp_html = `<div class="window">
                                    <div class="modal">
                                        <div class="modal_top">
                                            <div class="exit-button" onclick="fade_out()">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                            <div class="modal_teaname">
                                                <p style="text-align: center;font-size: 80px;color:#037057;margin:auto">${eng_type}</p>
                                                <p style="text-align: right;font-size: 30px;color:#037057;margin:auto">${name}</p>
                                            </div>
                                        </div>
                                        <div class="modal_bottom">
                                            <div class="bottom_left">
                                                <div class="bottom_left_box">
                                                    <div class="hyoneung">

                                                    </div>
                                                    <div class="caffeine">
                                                        <p style="color:#037057;text-align: left;">#카페인 함량</p>
                                                        <p style="text-align: left">${caffeine}</p>
                                                    </div>
                                                    <hr width="inherit" color="#037057" size="1px">
                                                    <div class="bottom_left_box_like">
                                                        <span>♥<span id="likeNum"> ${like}</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom_middle">
                                                <div class="bottom_middle_box">
                                                    <img src="${img}" style="width:355px;height:496px;border-top-right-radius:250px;" id="teaimg"/>
                                                </div>
                                            </div>
                                            <div class="bottom_right">
                                                <div class="bottom_right_box">
                                                    <div class="zzim">
                                                        <div class="like-content">
                                                            <button class="btn-secondary like-review" onclick="likeTea('${name}')">
                                                                I like it <i class="fa fa-heart" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="notice">
                                                        <span class="material-icons" style="font-size:15px;">bolt</span>
                                                        <p style="text-align: left;">${caution}</p>
                                                    </div>
                                                    <div class="desc">
                                                        <p style="text-align: left;">${desc}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                $('.background').append(temp_html);

                let benefit_list = benefitdetail.split(',');
                // console.log(benefit_list);
                for (let i = 0; i < benefit_list.length; i++) {
                    let tmp = benefit_list[i];
                    let tmp_html = `<div class="hashtag">${tmp}</div>`
                    $('.hyoneung').append(tmp_html);
                }
                $(".background").fadeIn();
            });
        });

        //이름순 정렬
        function check_title() {
            // 이렇게 이미지 처리하고 제목순 눌렸을때는
            // 두번 누른 경우
            let color = $("#order_title").css("color")
            if (color === 'rgb(197, 55, 9)') {
                $("#order_title").css("color", "#0F3331");
                $("#order_title").css("transform", "scale(1)");
            } else {
                //여기서 부터 효과 적용하기
                receiveTea = sortJSON(receiveTea, "name", "asc");
                $("#order_title").css("color", "#C53709");
                $("#order_title").css("transform", "scale(1.15)");
                $("#order_recommend").css("color", "#0F3331");
                $("#order_recommend").css("transform", "scale(1)");
                showTea(receiveTea);
                $("img").click(function (element) {
                    $('.background').empty();
                    let src = element.target.getAttribute('class');
                    console.log(src)
                    let name = receiveTea[src]['name']
                    let caffeine = receiveTea[src]['caffeine']
                    let benefitdetail = receiveTea[src]['benefitdetail']
                    let desc = receiveTea[src]['desc']
                    let caution = receiveTea[src]['caution']
                    let img = receiveTea[src]['img']
                    let like = receiveTea[src]['like']
                    let eng_type = receiveTea[src]['eng_type']

                    let temp_html = `<div class="window">
                                    <div class="modal">
                                        <div class="modal_top">
                                            <div class="exit-button" onclick="fade_out()">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                            <div class="modal_teaname">
                                                <p style="text-align: center;font-size: 80px;color:#037057;margin:auto">${eng_type}</p>
                                                <p style="text-align: right;font-size: 30px;color:#037057;margin:auto">${name}</p>
                                            </div>
                                        </div>
                                        <div class="modal_bottom">
                                            <div class="bottom_left">
                                                <div class="bottom_left_box">
                                                    <div class="hyoneung">

                                                    </div>
                                                    <div class="caffeine">
                                                        <p style="color:#037057;text-align: left;">#카페인 함량</p>
                                                        <p style="text-align: left">${caffeine}</p>
                                                    </div>
                                                    <hr width="inherit" color="#037057" size="1px">
                                                    <div class="bottom_left_box_like">
                                                        <span>♥<span id="likeNum"> ${like}</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom_middle">
                                                <div class="bottom_middle_box">
                                                    <img src="${img}" style="width:355px;height:496px;border-top-right-radius:250px;" id="teaimg"/>
                                                </div>
                                            </div>
                                            <div class="bottom_right">
                                                <div class="bottom_right_box">
                                                    <div class="zzim">
                                                        <div class="like-content">
                                                            <button class="btn-secondary like-review" onclick="likeTea('${name}')">
                                                                I like it <i class="fa fa-heart" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="notice">
                                                        <span class="material-icons" style="font-size:15px;">bolt</span>
                                                        <p style="text-align: left;">${caution}</p>
                                                    </div>
                                                    <div class="desc">
                                                        <p style="text-align: left;">${desc}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>`
                    $('.background').append(temp_html);

                    let benefit_list = benefitdetail.split(',');
                    // console.log(benefit_list);
                    for (let i = 0; i < benefit_list.length; i++) {
                        let tmp = benefit_list[i];
                        let tmp_html = `<div class="hashtag">${tmp}</div>`
                        $('.hyoneung').append(tmp_html);
                    }
                    $(".background").fadeIn();
                });

            }
        }


        //추천순 정렬
        function check_recommend() {
            var color = $("#order_recommend").css("color")
            if (color === 'rgb(197, 55, 9)') {
                $("#order_recommend").css("color", "#0F3331");
                $("#order_recommend").css("transform", "scale(1)");
            } else {
                //여기서 부터 효과 적용하기
                receiveTea = sortJSON(receiveTea, "like", "desc");
                $("#order_recommend").css("color", "#C53709");
                $("#order_recommend").css("transform", "scale(1.15)");
                $("#order_title").css("color", "#0F3331");
                $("#order_title").css("transform", "scale(1)");
                showTea(receiveTea);
                $("img").click(function (element) {
                    $('.background').empty();
                    let src = element.target.getAttribute('class');
                    console.log(src)
                    let name = receiveTea[src]['name']
                    let caffeine = receiveTea[src]['caffeine']
                    let benefitdetail = receiveTea[src]['benefitdetail']
                    let desc = receiveTea[src]['desc']
                    let caution = receiveTea[src]['caution']
                    let img = receiveTea[src]['img']
                    let like = receiveTea[src]['like']
                    let eng_type = receiveTea[src]['eng_type']

                    let temp_html = `<div class="window">
                                    <div class="modal">
                                        <div class="modal_top">
                                            <div class="exit-button" onclick="fade_out()">
                                                <i class="fa-solid fa-circle-xmark"></i>
                                            </div>
                                            <div class="modal_teaname">
                                                <p style="text-align: center;font-size: 80px;color:#037057;margin:auto">${eng_type}</p>
                                                <p style="text-align: right;font-size: 30px;color:#037057;margin:auto">${name}</p>
                                            </div>
                                        </div>
                                        <div class="modal_bottom">
                                            <div class="bottom_left">
                                                <div class="bottom_left_box">
                                                    <div class="hyoneung">

                                                    </div>
                                                    <div class="caffeine">
                                                        <p style="color:#037057;text-align: left;">#카페인 함량</p>
                                                        <p style="text-align: left">${caffeine}</p>
                                                    </div>
                                                    <hr width="inherit" color="#037057" size="1px">
                                                    <div class="bottom_left_box_like">
                                                        <span>♥<span id="likeNum"> ${like}</span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bottom_middle">
                                                <div class="bottom_middle_box">
                                                    <img src="${img}" style="width:355px;height:496px;border-top-right-radius:250px;" id="teaimg"/>
                                                </div>
                                            </div>
                                            <div class="bottom_right">
                                                <div class="bottom_right_box">
                                                    <div class="zzim">
                                                        <div class="like-content">
                                                            <button class="btn-secondary like-review" onclick="likeTea('${name}')">
                                                                I like it <i class="fa fa-heart" aria-hidden="true"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="notice">
                                                        <span class="material-icons" style="font-size:15px;">bolt</span>
                                                        <p style="text-align: left;">${caution}</p>
                                                    </div>
                                                    <div class="desc">
                                                        <p style="text-align: left;">${desc}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`
                    $('.background').append(temp_html);

                    let benefit_list = benefitdetail.split(',');
                    // console.log(benefit_list);
                    for (let i = 0; i < benefit_list.length; i++) {
                        let tmp = benefit_list[i];
                        let tmp_html = `<div class="hashtag">${tmp}</div>`
                        $('.hyoneung').append(tmp_html);
                    }
                    $(".background").fadeIn();
                });

            }
        }


        async function signStatus() {
            isLogin = await sign_checkSign();
            if (isLogin) signin_mode();
            else signout_mode();
        }

        function signin_mode() {
            isLogin = true;
        }

        function signout_mode() {
            isLogin = false;
            sign_signout();
        }

        async function signinout() {
            if (isLogin) {
                signout_mode();
            } else {
                let id = $('#signin_id').val();
                let pass = $('#signin_pass').val();

                let result = await sign_signin(id, pass)
                if (result) {
                    if (result['success']) {
                        alert(result['success']);
                        window.location.replace('/');
                    } else if (result['fail']) alert(result['fail'])
                } else alert('서버연결실패')
            }
        }

        //티 localstorage에 저장되어있는 값들을 불러와서 뿌려주는 js
        function showTea(receiveTea) {
            // console.log(receiveTea)
            $('.chosen_tea_list').empty();
            for (let i = 0; i < receiveTea.length; i++) {
                let name = receiveTea[i]['name']
                let img = receiveTea[i]['img']
                let eng_type = receiveTea[i]['eng_type']/* 좋아요/찜 기능 통합에 따라 like 변수 생존여부 결정 */

                let temp_html = `<div class="tea-box">
                                    <img id = 'tea_src' class="${i}" width="261px" height="365.28px"
                                         src="${img}">
                                    <P style="color:#C53709;font-size:17px;">${name}</P>
                                    <P style="font-size: 10px;">${eng_type}</P>
                                </div>`
                $('.chosen_tea_list').append(temp_html);
            }
        }

        /* 이름순, 좋아요순 정렬하기 위한 함수 선언 */
        var sortJSON = function (data, key, type) {
            if (type == undefined) {
                type = "asc";
            }
            return data.sort(function (a, b) {
                var x = a[key];
                var y = b[key];
                if (type == "desc") {
                    return x > y ? -1 : x < y ? 1 : 0;
                } else if (type == "asc") {
                    return x < y ? -1 : x > y ? 1 : 0;
                }
            });
        };

        function fade_out() {
            $(".background").fadeOut();
        }

        //찜 하기

        async function likeTea(name) {
            let access_token = await get_access_token();
            console.log(access_token);
            $.ajax({
                type: 'POST',
                url: '/tea/like_all',
                data: {name_give: name},
                headers: {"Authorization": "Bearer " + access_token},
                success: function (response) {
                    if (response['alreadyScrap']) {
                        alert(response['alreadyScrap']);
                        // window.location.reload()
                    } else if (response['successScrap']) {
                        alert(response['successScrap']);
                        // window.location.reload()
                    }
                },
                error: function () {
                    alert("로그인 해주세요~");
                    window.location.reload();
                }
            });
        }

        // 좋아요 js
        $(function () {
            $(document).one('click', '.like-review', function (e) {
                $(this).html('You liked this <i class="fa fa-heart" aria-hidden="true"></i>');
                $(this).children('.fa-heart').addClass('animate-like');
            });
        });

    </script>

</head>

<body>
<div class="container_total">
    <!-- 네비게이션 -->

    <div class="nav_container">
        <ul class="navigation">
            <li><a href="./" class="navi">차茶</a></li>
            <li style="float:right">
                <a class="navi" href="./info"><span class="material-icons md-36"
                                                    style="font-size: 25px; line-height: inherit;">&#xE87C;</span></a>
            <li id='umm' style="float:right">
        </ul>
    </div>

    <!-- 내 취향 알아보기 박스 -->
    <div class="mytaste_container">
        <div class="mytaste">
            <div class="mytaste_title_underline">
                <div class="mytaste_title">
                    <p style="font-size:28px;color:#F2EFE8">#내_취향 알아보기</p>
                </div>
            </div>
            <div class="mytaste_hashtag">

            </div>
            <div class="mytaste_count">

            </div>
        </div>
    </div>

    <!-- 차 리스트 -->
    <div class="list_container">
        <div class="chosen_tea_list_cover">
            <div class="click">
                <button id="order_title" onclick="check_title()">제목순</button>
                <span class="or_bar">|</span>

                <button id="order_recommend" onclick="check_recommend()">추천순</button>
            </div>
            <div style="display:flex">
                <div class="chosen_tea_list">
                </div>
            </div>
        </div>

        <!-- 모달 페이지 -->
        <div class="background">
        </div>
    </div>
</div>
</body>

</html>