<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Tea list | Chacha</title>
    <link rel="stylesheet" href="../static/tea_list.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- 이미지 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@500&family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap"
            rel="stylesheet">
    <script src="https://kit.fontawesome.com/a73607bda8.js" crossorigin="anonymous"></script>
    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--  로그인 js 가져오기-->
    <script src="../static/js/sign.js"></script>

    <!-- 파비콘 -->
    <link rel="shortcut icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="../static/icon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- 모달 js -->
    <script>
        let isLogin = false;

        //로그인 상태를 확인하기 위한 함수.
        async function signStatus() {
            isLogin = await sign_checkSign();
            if (isLogin) signin_mode();
            else signout_mode();
        }

        function signin_mode() {
            isLogin = true;
            $('#signupPage').hide();
            $('#signinPage').hide();
            $('#signinoutBtn').text('로그아웃');
        }

        function signout_mode() {
            isLogin = false;
            $('#signupPage').show();
            $('#signinPage').show();
            $('#signinoutBtn').text('로그인');
            sign_signout();
        }

        //페이지가 그려지면 실행되어야 할 함수.
        $(document).ready(function () {
            //로그인 상태 확인하기
            signStatus();
            if (isLogin) {
                let loginText = `로그아웃`;
                // console.log("이거 실행?")
            } else {
                loginText = `로그인`;
                // console.log("아니 이거 실행!")
            }
            $("#loginText").text(loginText);
            //추천 티 리스트 뿌려주는 함수 실행하기
            showTea()


        });

        //티 localstorage에 저장되어있는 값들을 불러와서 뿌려주는 js
        function showTea() {

            receiveTea = JSON.parse(localStorage.getItem("findlist"));
            // console.log(receiveTea)

            for (let i = 0; i < receiveTea.length; i++) {
                let name = receiveTea[i]['name']
                let type = receiveTea[i]['type']
                let benefit = receiveTea[i]['benefit']
                let caffeineOX = receiveTea[i]['caffeineOX']
                let caffeine = receiveTea[i]['caffeine']
                let benefitdetail = receiveTea[i]['benefitdetail']
                let desc = receiveTea[i]['desc']
                let caution = receiveTea[i]['caution']
                let img = receiveTea[i]['img']
                let like = receiveTea[i]['like']           /* 좋아요/찜 기능 통합에 따라 like 변수 생존여부 결정 */

                let temp_html = `<div class="tea-box">
                                    <img class="tea-image" width="261px" height="365.28px"
                                         src="${img}">
                                    <P style="color:#C53709;font-size:17px;">${name}</P>
                                    <P style="font-size: 10px;">BLACK TEA</P>
                                </div>`
                $('.chosen_tea_list').append(temp_html);
            }
        }


        // 모달 js
        $(function () {
            $("img").click(function () {
                $(".background").fadeIn();
            });

            $(".exit-button").click(function () {
                $(".background").fadeOut();
            });
        })

        // 좋아요 js
        $(function () {
            $(document).one('click', '.like-review', function (e) {
                $(this).html('You liked this <i class="fa fa-heart" aria-hidden="true"></i>');
                $(this).children('.fa-heart').addClass('animate-like');
            });
        });

        // 정렬 js
        // 두번 눌렀을때 선택해제?를 하려면,, 눌리면 함수가 실행되는 구조라서 전체보기 버튼 없으면 불가능 할 듯
        // 버튼 누르는 횟수로 이벤트 처리하려 했으나, 왔다갔다 누르는경우, 하나만 계속 누르는 경우 두가지라 처리하기 애매..


        function check_title() {
            // 이렇게 이미지 처리하고 제목순 눌렸을때는
            // 두번 누른 경우
            var color = $("#order_title").css("color")
            if (color === 'rgb(197, 55, 9)') {
                // console.log('이거 왜 실행 안돼?')
                // console.log($("#order_title").css("color"))
                $("#order_title").css("color", "#0F3331");
                $("#order_title").css("transform", "scale(1)");
            } else {
                $("#order_title").css("color", "#C53709");
                $("#order_title").css("transform", "scale(1.15)");
                $("#order_recommend").css("color", "#0F3331");
                $("#order_recommend").css("transform", "scale(1)");
                // console.log(color)
            }

            // DB에서 받아온 정보를 이 곳에서 재 정렬해줘야 할 듯


        }

        function check_recommend() {
            var color = $("#order_recommend").css("color")
            // 다시 눌린 경우
            if (color === 'rgb(197, 55, 9)') {
                // console.log('이거 왜 실행 안돼?')
                // console.log($("#order_title").css("color"))
                $("#order_recommend").css("color", "#0F3331");
                $("#order_recommend").css("transform", "scale(1)");
            } else {
                $("#order_recommend").css("color", "#C53709");
                $("#order_recommend").css("transform", "scale(1.15)");
                $("#order_title").css("color", "#0F3331");
                $("#order_title").css("transform", "scale(1)");
                // console.log(color)
            }


        }
    </script>

</head>

<body>
<div class="container_total">
    <!-- 네비게이션 -->

    <div class="nav_container">
        <ul class="navigation">
            <li><a href="./" class="navi">차茶</a></li>
            <li style="float:right">
                <a class="navi" href="./info"><span class="material-icons md-36"
                                                    style="font-size: 25px; line-height: inherit;">&#xE87C;</span></a>
            <li style="float:right">
                <a class="navi nav_login" id="loginText" href="./login"></a>
        </ul>
    </div>

    <!-- 내 취향 알아보기 박스 -->
    <div class="mytaste_container">
        <div class="mytaste">
            <div class="mytaste_title_underline">
                <div class="mytaste_title">
                    <p style="font-size:28px;color:#F2EFE8">#내_취향 알아보기</p>
                </div>
            </div>
            <div class="mytaste_hashtag">
                <div class="mytaste_tag">#녹차</div>
                <div class="mytaste_tag">#다이어트</div>
                <div class="mytaste_tag">#정신건강</div>
                <div class="mytaste_tag">#카페인</div>
                <div class="mytaste_tag">#질병예방</div>
            </div>
            <div class="mytaste_count">
                <p style="font-size: 32px;font-weight: bold;color:#0F3331">해당하는 차는 00개입니다.</p>
            </div>
        </div>
    </div>

    <!-- 차 리스트 -->
    <div class="list_container">
        <div class="chosen_tea_list_cover">
            <div class="click">
                <button id="order_title" onclick="check_title()">제목순</button>
                <span class="or_bar">|</span>

                <button id="order_recommend" onclick="check_recommend()">추천순</button>
            </div>
            <div style="display:flex">
                <div class="chosen_tea_list">
<!--                    <div class="tea-box">-->
<!--                        <img class="tea-image" width="261px" height="365.28px"-->
<!--                             src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/etc/%ED%8E%98%ED%8D%BC%EB%AF%BC%ED%8A%B8.png">-->
<!--                        <P style="color:#C53709;font-size:17px;">전차</P>-->
<!--                        <P style="font-size: 10px;">BLACK TEA</P>-->
<!--                    </div>-->
<!--                    <div class="tea-box">-->
<!--                        <img class="tea-image" width="261px" height="365.28px"-->
<!--                             src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/etc/%ED%8E%98%ED%8D%BC%EB%AF%BC%ED%8A%B8.png">-->
<!--                        <P style="color:#C53709;font-size:17px;">전차</P>-->
<!--                        <P style="font-size: 10px;">BLACK TEA</P>-->
<!--                    </div>-->
<!--                    <div class="tea-box">-->
<!--                        <img class="tea-image" width="261px" height="365.28px"-->
<!--                             src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/etc/%ED%8E%98%ED%8D%BC%EB%AF%BC%ED%8A%B8.png">-->
<!--                        <P style="color:#C53709;font-size:17px;">전차</P>-->
<!--                        <P style="font-size: 10px;">BLACK TEA</P>-->
<!--                    </div>-->
<!--                    <div class="tea-box">-->
<!--                        <img class="tea-image" width="261px" height="365.28px"-->
<!--                             src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/etc/%ED%8E%98%ED%8D%BC%EB%AF%BC%ED%8A%B8.png">-->
<!--                        <P style="color:#C53709;font-size:17px;">전차</P>-->
<!--                        <P style="font-size: 10px;">BLACK TEA</P>-->
<!--                    </div>-->
<!--                    <div class="tea-box">-->
<!--                        <img class="tea-image" width="261px" height="365.28px"-->
<!--                             src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/etc/%ED%8E%98%ED%8D%BC%EB%AF%BC%ED%8A%B8.png">-->
<!--                        <P style="color:#C53709;font-size:17px;">전차</P>-->
<!--                        <P style="font-size: 10px;">BLACK TEA</P>-->
<!--                    </div>-->
<!--                    <div class="tea-box">-->
<!--                        <img class="tea-image" width="261px" height="365.28px"-->
<!--                             src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/etc/%ED%8E%98%ED%8D%BC%EB%AF%BC%ED%8A%B8.png">-->
<!--                        <P style="color:#C53709;font-size:17px;">전차</P>-->
<!--                        <P style="font-size: 10px;">BLACK TEA</P>-->
<!--                    </div>-->
                </div>
            </div>
        </div>

        <!-- 모달 페이지 -->
        <div class="background">
            <div class="window">
                <div class="modal">
                    <div class="modal_top">

                        <div class="exit-button">
                            <i class="fa-solid fa-circle-xmark"></i>
                        </div>
                        <div class="modal_teaname">
                            <p style="text-align: center;font-size: 80px;color:#037057;margin:auto">BLACK TEA</p>
                            <p style="text-align: right;font-size: 30px;color:#037057;margin:auto">얼그레이</p>
                        </div>
                    </div>
                    <div class="modal_bottom">
                        <div class="bottom_left">
                            <div class="bottom_left_box">
                                <div class="hyoneung">
                                    <div class="hashtag">지방분해</div>
                                    <div class="hashtag">숙취해소</div>
                                    <div class="hashtag">감기예방</div>
                                    <div class="hashtag">심장건강</div>
                                    <div class="hashtag">항암효과</div>
                                    <div class="hashtag">치아건강</div>
                                    <div class="hashtag">구취개선</div>
                                </div>
                                <div class="caffeine">
                                    <p style="color:#037057;text-align: left;">#카페인 함량</p>
                                    <p style="text-align: left">30~60mg/200ml</p>
                                </div>
                                <hr width="inherit" color="#037057" size="1px">
                                <div class="bottom_left_box_like">
                                    <span>♥<span id="likeNum"> 10</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom_middle">
                            <div class="bottom_middle_box">
                                <img
                                        src="https://s3.ap-northeast-2.amazonaws.com/alphafly.shop/tea_image/%EB%B0%B1%EC%B0%A8_White+Tea/%EB%B0%B1_%EC%88%98%EB%AF%B8%EC%B0%A8.png"
                                        style="width:355px;height:496px;border-top-right-radius:250px;" id="teaimg"/>
                            </div>
                        </div>
                        <div class="bottom_right">
                            <div class="bottom_right_box">
                                <div class="zzim">
                                    <div class="like-content">
                                        <button class="btn-secondary like-review">
                                            I like it <i class="fa fa-heart" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="notice">
                                    <span class="material-icons" style="font-size:15px;">bolt</span>
                                    <p style="text-align: left;">카페인이 포함되어 있기 때문에 신체적으로 카페인에 민감하다면 양을 조절해 먹어야 하며, 탄닌 성분은
                                        비타민과 같은 영양제의
                                        흡수를 막기 때문에 이를 유의해야
                                        한다. 체온을 높이기
                                        때문에 고열일 때는 홍차보다는 해열작용이 있는 백차가 좋다.</p>
                                </div>
                                <div class="desc">
                                    <p style="text-align: left;">중국의 보이차와 달리 우리 나라 고유의 흑차이다. 이름의 뜻은 '푸른 이끼가 낀 엽전'으로 생긴 것
                                        그대로를 표현한다. 주로
                                        전라남도 장흥군에서 재배된다.
                                        진홍빛의 차색은 오미자차와 비슷하지만 맛과 향은 옥수수차나 보리차와 가깝다. 생강, 오가피, 귤 껍질을 같이 넣고 우리면 향과 맛이 더
                                        좋아진다.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>